*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #e7ffef;
}

header{
    padding:0 5vh ;
    text-align: center;
    text-transform: uppercase;    
    display: flex;
    
}

header  nav ul{
    padding: 4vh 0 0 0;
    display: flex;
    justify-content: space-between;
}

header  nav ul li{
    font-size: 1.5rem;
    list-style: none;
    width: 15%;
    padding: 2vh 0;
}

header  nav ul li a {
    text-decoration: none;
}

#contenedorCarrito {
    position: fixed;
    top: 50px;
    right: 10px;
    width: 300px;
    background: #e7ffef;
    border: 1px solid #30ca11;
    border-radius: 5px;
    padding: 15px;
    display: none;
    z-index: 1000;
}

#contenedorCarrito.visible {
    display: block;
}

.itemCarrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.botonQuitar {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.botonQuitar:hover {
    background-color: darkred;
}

#contenedor_productos{
    padding: 5vh 2vh;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5vh;
}

#contenedor_productos div{
    width: 300px;
    height: 300px;
}
#contenedor_productos div img{
    width: 100%;
    max-width: 300px;
    max-height: 200px;
    object-fit: cover;
}



.inicio{
    background-image: url(img/bck-inicio.png);
    object-fit: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100vh;
    display: flex ;
    color: whitesmoke;
    align-items: center;
    padding: 0 5vh;
    font-size: 2rem;
    text-transform: capitalize;
    text-shadow: 2px 2px 3px rgb(70, 224, 43);
}
.inicio div span{
    color: black;
    text-shadow: 2px 2px 3px rgb(70, 224, 43);
    
}

